    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>管理员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('user/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员列表</cite>
                            
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('user/adindex')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>操作员列表</cite>
                        
                        </a>
                    </li >                 
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>人员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('staff/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>店长列表</cite>
                                 
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('staff/money')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>收银员列表</cite>
                                 
                        </a>
                    </li >                     
                </ul>
            </li>            
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b5;</i>
                    <cite>店铺管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('store/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>店铺列表</cite>
                                 
                        </a>
                    </li >                   
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6f4;</i>
                    <cite>仓库管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('order/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>已入库</cite>
                            
                        </a>
                    </li >
                    <!--<li>-->
                        <!--<a _href="{:url('user/index')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>已出库</cite>-->
                            <!---->
                        <!--</a>-->
                    <!--</li >-->
                   
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6a9;</i>
                    <cite>商品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('goodstype/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品分类</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('goodstype/goods')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6cb;</i>
                    <cite>配货管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('user/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('shoporder/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6f6;</i>
                    <cite>供应商管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('user/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>供应商列表</cite>
                        </a>
                    </li >
                </ul>
            </li>     
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6ce;</i>
                    <cite>商品统计</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('total/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>统计列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('stat/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>拆线图</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('stat/index2')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>饼图</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b4;</i>
                    <cite>图标字体</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('common/unicode')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>图标对应字体</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
      </div>
    </div>