<!DOCTYPE html>
<html>
<head>
    {include file="public/head" title="顶部开始" /}
</head>
<body>
<div class="x-body layui-anim layui-anim-up" >
    <fieldset class="layui-elem-field" style="border-color:#1E9FFF">
        <legend><font size="5" color="#1E9FFF">商品数量</font></legend>
        <div class="layui-card" style="background:#eeeeee">
            <div class="layui-card-header">卡片面板</div>
            <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
            </div>

        </div>
    </fieldset>
    <fieldset class="layui-elem-field" style="border-color:#009688">
        <legend><font size="5" color="#009688">订单数量</font></legend>
        <div class="layui-card" style="background:#eeeeee">
            <div class="layui-card-header" >卡片面板</div>
            <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
            </div>

        </div>
    </fieldset>
    <fieldset class="layui-elem-field" style="border-color:#393D49 ">
    <legend><font size="5" color="#393D49">订单数量</font></legend>
    <div class="layui-card" style="background:#eeeeee">
        <div class="layui-card-header" >卡片面板</div>
        <div class="layui-card-body">
            卡片式面板面板通常用于非白色背景色的主体内<br>
            从而映衬出边框投影
        </div>
    </div>
</fieldset>
    <fieldset class="layui-elem-field" style="border-color:#FFB800">
        <legend><font size="4" color="#FFB800">订单数量</font></legend>
        <div class="layui-card" style="background:#eeeeee">
            <div class="layui-card-header" >卡片面板</div>
            <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
            </div>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field" style="border-color:#FF5722">
        <legend><font size="4" color="#FF5722">订单数量</font></legend>
        <div class="layui-card" style="background:#eeeeee">
            <div class="layui-card-header" >卡片面板</div>
            <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
            </div>
        </div>
    </fieldset>
</div>

</body>
</html>